samples.tar.7z
.zynaddsubfxXML.cfg
recover.mmp.bak
recover.mmp
/samples
/templates
/plugins
/presets
/projects/covers/*
/projects/mashups
/projects/ignore
*.bak

# Unhide
!/projects/covers/right-enemy.mmpz
!/projects/covers/makebavnia.mmpz
